/*MÓVIL (DEFAULT)----------------------------------*/
body{
    background: rgb(245,173,230);
    background: linear-gradient(0deg, rgba(245,173,230,1) 2%, rgb(241, 109, 142) 100%);
    background-attachment: fixed;
}

p{
    text-align: justify;
}

img#cupcake{
    width: 20%;
}

/*En esta versión le doy un display flex que continúa para la siguiente,
    la propiedad wrap para que se coloquen y los anchos adecuados
    además de justify content*/
section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

article{
    border: 2px dotted rgb(139, 0, 58);
    border-radius: 10px;
    padding: 2vw;
    margin: 5px;
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#uno, #tres, #cinco{
    background-color: rgb(243, 127, 127);
}

#dos, #cuatro, #seis{
    background-color: rgb(255, 188, 188);
}

#sectionheader{
    width: 90vw;
    text-align: center;
}

/*Cambio el texto del header del section acorde al dispositivo*/
#sectionheader::after{
    content:"móvil";
}

/*-------------------------------------------------------------
PC VERTICAL Y TABLET HORIZONTAL------------------------------------*/
@media screen and (min-width:760px) and (max-width: 1250px), screen and (min-width:700px) and (max-width: 1250px) and (orientation:landscape){
    /*Para esta versión ajusto el ancho de los article
        y el orden de los colorinchis para que se alternen*/
    article{
        width: 40vw;
    }

    #uno, #cuatro, #cinco{
        background-color: rgb(243, 127, 127);
    }
    
    #dos, #tres, #seis{
        background-color: rgb(255, 188, 188);
    }

    /*Cambio el texto del header del section acorde al dispositivo*/
    #sectionheader::after{
        content:"PC vertical y tablet horizontal";
    }

}

/*--------------------------------------------------------------------
PC HORIZONTAL PANTALLA ESCRITORIO-------------------------------------*/
@media screen and (min-width:1251px){
    /*Para esta versión hago un grid de 3 columnas de ancho adaptable
        y el orden de los colorinchis para que se alternen es el mismo que el default*/

    section{
        display:grid;
        grid-template-columns: 30vw 30vw 30vw;
    }

    /*auto para que se ajuste al ancho de la grid (sobreescribiendo el ancho que le di por defecto)*/
    article{
        width: auto;
    }

    /*Cambio el texto del header del section acorde al dispositivo*/
    #sectionheader::after{
        content:"PC horizontal";
    }

    /*Indico que el header ocupa las 3 columnas de la primera fila*/
    #sectionheader{
        grid-column-start: 1;
        grid-column-end: 4;
    }
}

