/*MÓVIL (DEFAULT)*/
body{
    background: rgb(245,173,230);
    background: linear-gradient(0deg, rgba(245,173,230,1) 2%, rgb(241, 109, 142) 100%);
    background-attachment: fixed;
}

section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

p{
    text-align: justify;
}

article{
    border: 2px dotted rgb(139, 0, 58);
    border-radius: 10px;
    padding: 2vw;
    margin: 5px;
    width: 80vw;
}

#uno, #tres, #cinco{
    background-color: rgb(243, 127, 127);
}

#dos, #cuatro, #seis{
    background-color: rgb(255, 188, 188);
}

/*PC VERTICAL Y TABLET HORIZONTAL*/
@media screen and (min-width:760px) and (max-width: 1200px) and (orientation:landscape){
    article{
        width: 40vw;
    }

    #uno, #cuatro, #cinco{
        background-color: rgb(243, 127, 127);
    }
    
    #dos, #tres, #seis{
        background-color: rgb(255, 188, 188);
    }

}

/*PC HORIZONTAL PANTALLA ESCRITORIO*/
@media screen and (min-width:1201px){
    section{
        display:grid;
        grid-template-columns: repeat(3, 1fr);
    }

    article{
        width: auto;
    }

}

